# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR MiddleTier LogDB Service

[Unit]
Description=JBR MiddleTier LogDB Service (DEV)
After=mysql.service

[Service]
ExecStart=/usr/bin/java -Xms768M -Xmx768M -Dspring.profiles.active=dbg -jar /usr/bin/jbr/dev/MiddleTier-LogDB-DEV-onejar.jar

[Install]
WantedBy=multi-user.target
